@model List<Experience>
@*
    Default Experience Component (Resume içindeki)
*@

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
    <h3 class="resume-title">Deneyimler</h3>

    @foreach(var experience in Model)
    {
        <div class="resume-item">
            <h4>@experience.Title</h4>
            <h5>@experience.Company - @experience.City</h5>
            <p><em>@experience.StartYear - @experience.EndYear</em></p>
            <ul>
                <li>@experience.Description</li>
            </ul>
        </div>
    }
   

  

</div>